{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css' %}" rel="stylesheet">
 
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
{% include 'navbar.html' %} 

<body>
   
</body>
</html>